$color: #262828;
$gray: #f6f6f6;
$aqua: #BFFFFC;
#root{
  min-height: 100%;
  height: 100%;
}
body, html{
  background: $gray;
  min-height: 100%;
  height: 100%;
}

body {
  color: $color;
}

.app-container{
  flex: none;
  width: 100%;
}

.registration, .login{
  margin: 20px 0;
}

.user{
  display: table;
  height: 64px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  &-name, &-balance{
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
  }
  &-name-logout{
    color: $aqua;
    font-size: 14px;
  }
  &-balance{
    text-align: right;
  }
}

.transactions{
  &-list{
    padding: 0;
    margin: 10px 0;
    list-style-type: none;
  }
}

.no-suggestions{
  .suggestions-list{
    display: none;
  }
}

.suggestions-list{
  padding: 0;
  list-style-type: none;
}

.suggestion{
  cursor: pointer;
  padding: 3px 5px;
  &:hover{
    background: #2196F3;
    color: #fff;
  }
}

.transaction{
  &-properties{
    &-list{
      padding: 0;
      list-style-type: none;
      margin: 0;
    }
  }
  &-property{
    &-title{
      font-weight: 600;
    }
  }
}